header{
    display: block;
    margin: 0;
    padding: 0 10px;
    background-color: black !important;
    
    .wrap{
        position: relative;
        display: block;
        margin: 0 auto;

        .logo{
            display: block;
            width: 250px;
            position: absolute;
            left: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50);
        }
    }
}
